body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0056b3;
    background: linear-gradient(
        90deg,
        rgba(54, 0, 97, 1) 15%,
        rgba(0, 68, 82, 1) 50%,
        rgba(0, 133, 159, 1) 85%
    );
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}



.login-container h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.form-group input {
    height: 50px;
    border-radius: 5px;
    border: 1px solid #ddd; 
    padding: 0 10px; 
}

.btn-login {
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    font-size: 18px;
    border: none;
    cursor: pointer; 
}

.btn-login:hover {
    background-color: #0056b3;
}

.forgot-password {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none; 
}

.forgot-password:hover {
    text-decoration: underline;
}

.social-login {
    margin-top: 20px;
    text-align: center;
}

.social-login .btn {
    margin: 5px;
    border-radius: 5px;
    padding: 10px; 
}
