body {
    background-color: #0056b3;
    background: linear-gradient(
        90deg,
        rgba(54, 0, 97, 1) 15%,
        rgba(0, 68, 82, 1) 50%,
        rgba(0, 133, 159, 1) 85%
    );
}
.container {
    margin-top: 50px;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}
.form-group label {
    font-weight: bold;
}
.btn-primary {
    background-color: #007bff;
    border: none;
    font-family: "Arial", sans-serif;
}

