:root {
  --primary-color: #007bff;
  --secondary-color: #f9f9f9;
  --text-color: rgb(0, 0, 0);
}

body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background: linear-gradient(
    90deg,
    rgba(54, 0, 97, 1) 15%,
    rgba(0, 68, 82, 1) 50%,
    rgba(0, 133, 159, 1) 85%
  );
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 1000;
  background-color: #BABAD1;
}

.main-content {
  padding-top: 1100px; /* Espacio para el header */
  padding-bottom: 100px; /* Espacio para el footer */
  min-height: 100vh; /* Asegura que el contenido principal ocupe toda la pantalla */
  box-sizing: border-box; /* Incluye el padding en el cálculo del tamaño */
}

.carousel {
  margin-top: 1500px; /* Espacio para el header */
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 1000;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
  padding: 20px 0;
  box-sizing: border-box; /* Incluye el padding en el cálculo del tamaño */
}

.navbar-custom {
  background-color: var(--primary-color);
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
  color: var(--text-color);
}

.hero {
  position: relative;
  height: calc(100vh - 200px); /* Altura total menos header y footer */
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.features {
  padding: 4rem 0;
}

.features .feature {
  padding: 2rem;
  background: var(--secondary-color);
  border-radius: 10px;
  transition: transform 0.4s ease-in-out;
}

.features .feature:hover {
  transform: translateY(-10px);
}

.carousel-item img {
  height: 850px;
  object-fit: cover;
  width: 100%;
}

.cta {
  padding: 3rem 0;
  text-align: center;
  background-color: rgb(255, 255, 255);
}

.cta h2 {
  margin-bottom: 1rem;
}

.footer ul {
  padding: 0;
  list-style: none;
}

.footer ul li {
  display: inline;
  margin: 0 10px;
}

.footer ul li a {
  color: white;
  text-decoration: none;
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 2.5rem;
  }

  .hero p {
    font-size: 1.2rem;
  }

  .footer {
    height: auto; /* Ajustar para dispositivos más pequeños */
    padding: 1rem;
  }
}
